body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: grid;
    gap: 15px;
    justify-items: center;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/*Styling for moving text*/

.container {
    text-align: center;
    padding: 20px;
    position: fixed;
}

.moving-text {
    display: inline-block;
    font-size: 24px;
    white-space: nowrap; /* Prevent text from breaking into multiple lines */
    overflow: hidden;
    position: relative; 
    animation: moveText 15s linear infinite; /* Adjust animation duration here */
}

@keyframes moveText {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
