.news-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.news-item {
    margin-bottom: 20px;
}

.news-item h2 {
    color: #444;
    margin: 10px 0;
}

.news-item p {
    color: #666;
}

.news-item-date {
    color: #888;
    font-size: 0.9em;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(images/b2.jpg);
    background-size: cover;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1rem 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
}

main {
    padding: 2rem;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.321) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center-;
}
img.hero {
    width: 100%;
}

.service-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
h3.service-title {
    color: #444;
    margin-top: 0;
}
@media screen and (min-width: 960px) {
    body {
      background-color: lightgreen;
    }
}